@charset "utf-8";
/*
 파일명:		popup.css
 설  명 :		layer pupup css
 작성자:		glim
 최초작성일:	2016/06/07
 최종수정일:	2016/06/26
*/


/* 모달팝업 */
.modalPopup {display:none;position:fixed; _position:absolute; top:0; left:0; width:100%; min-height:100%; z-index:100;}
.modalPopup .dimmed {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.modalPopup .popup_layer {display:block;}
.popup_layer {display:none; position: absolute; top: 50%; left: 50%; width: 510px; height:auto;  background-color:#fff; z-index: 10;}	
.popup_layer h1{height:22px;line-height:22px;padding:11px 19px;font-size:16px;background-color:#ca024b; color:#fff;}
.popup_layer .pop_container {border:solid 1px #ca024b; border-top:0;}
.popup_layer div.pop_contents {clear:both;padding:20px 20px 20px;color: #666; max-height:790px;}
.popup_layer div.pop_contents .popInner{position:relative}
.popup_layer div.pop_contents > h1{margin-bottom:10px}
.popup_layer .btn_pop_close{position: absolute;top:12px;right:12px;width:21px;height:21px; vertical-align:top; display:inline-block; color:transparent; overflow:hidden;text-indent:-9999px; line-height:999px; background-image:url(../images/common/pbtn_close.gif);background-repeat:no-repeat;background-position:center;}
.popup_layer .btn_group {margin-bottom:5px;}

/* 메세지 팝업 - 20160726 추가*/
.popup_layer .msg { color:#666; font-size:13px; line-height:1.6; }
