.dropZone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 0, 0);
    border-image: none;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.insertTable {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 500px;
    height: 100px;
    margin: auto;
}

/* th, td {
    border: 1px solid gray;
    
  } */

.inputContent {
    width: 500px;
    height: 100px;
}

.container {
    text-align: center;
}